body{
  font-family: Arial;
  /* defaultnya all round is 8px */
  margin-top: 0px;
  margin-bottom: 0px;
}

.app-container{
  max-width: 600px;
  /* for centering */
  margin-left: auto;
  margin-right: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  
}